{% extends "base.html" %}

{% block content %}
    <h1>All Borrowed books</h1>

    {% if bookinstance_list %}
        <ul>

        {% for bookcopy in bookinstance_list %}
            <li class="{% if bookcopy.is_overdue %}text-danger{% endif %}">
                <a href="{% url 'book-detail' bookcopy.book.pk %}">{{ bookcopy.book.title }}</a> ({{ bookcopy.due_back }}) - {{ bookcopy.borrower.get_username }} - <a href="{% url 'renew-book-librarian' bookcopy.id %}">Renew</a>
            </li>
        {% endfor %}

        </ul>
    {% else %}
      
        <p>There are no books borrowed.</p>
    
    {% endif %}

{% endblock %}
